<div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
  <app-add-timer class="testingappaddtimer"></app-add-timer>
  <mat-card class="testingmatcard-collaboratorname">
    <span *ngIf="collaboratorService.collaborators.length != 0">{{this.collaboratorService.currentCollaborator.name}}</span>
    <span *ngIf="collaboratorService.collaborators.length === 0">-</span>
  </mat-card>
  <mat-card class="testingmatcardnextcard" id="next-card" *ngIf="collaboratorService.rotationMode == 'List'">
    <div class="collaboratorsList" *ngIf="collaboratorService.collaborators.length != 0">
    {{collaboratorService.collaborators[
    collaboratorService.collaborators.indexOf(collaboratorService.currentCollaborator) != collaboratorService.collaborators.length - 1 ?
      collaboratorService.collaborators.indexOf(collaboratorService.currentCollaborator) + 1 : 0
    ].name}}
    </div>
    <div *ngIf="collaboratorService.collaborators.length === 0">-</div>
  </mat-card>
</div>
